/*=============================================
    17: About us
==============================================*/

.about-us h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}
.about-us > ul {
    border-bottom: 1px solid #e0f3ff;
    margin-bottom: 30px;
}
.about-us > ul li {}
.about-us > ul li a {
    display: block;
    color: #1b435d;
    font-weight: 500;
    padding: 12px 15px;
    margin: 0 15px;
    position: relative;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.about-us > ul li a:hover,
.about-us > ul li a.active{
    color: #ff895d;
}
.about-us > ul li a:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-bottom: 0px solid #e0f3ff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.about-us > ul li a:hover:before,
.about-us > ul li a.active:before {
    border-bottom: 5px solid #e0f3ff;
}
.about-us p {
    font-family: "Work Sans", sans-serif;
    color: #90a0aa;
    line-height: 24px;
}
.about-us a.read-more {
    color: #1b435d;
    line-height: 20px;
    font-weight: 500;
    display: inline-block;
    margin-top: 10px;
    position: relative;
    padding-left: 25px;
}
.about-us a.read-more:hover {
    color: #ff895d;
}
.about-us a.read-more span {
    position: absolute;
    display: inline-block;
    color: #ff895d;
    font-size: 37px;
    font-weight: 400;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
.tab-long-content {
    display: none;
}
.tab-long-content a.read-more span {
    margin-top: -2px;
}

/* 17.1: Tab images */
.double-bg {
    position: relative;
}
.double-bg img {
    max-width: calc(100% - 60px);
}
.double-bg:before {
    content: '';
    position: absolute;
    width: 370px;
    height: 470px;
    bottom: 0;
    right: 30px;
    background: #84c3ec;
    z-index: -1;
    max-width: calc(100% - 30px);
    max-height: calc(100% - 30px);
}
.double-bg:after {
    content: '';
    position: absolute;
    width: 370px;
    height: 470px;
    bottom: 30px;
    right: 0;
    background: #1b435d;
    z-index: -2;
    max-width: calc(100% - 30px);
    max-height: calc(100% - 30px);
}
