
/*=============================================
    10: Why us
==============================================*/

.single-reason span {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid #e0f3ff;
    border-radius: 100%;
    line-height: 78px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.single-reason span img {
    max-width: 32px;
}
.single-reason span img + img{
    display: none;
}
.single-reason:hover span {
    background: #1b435d;
}
.single-reason:hover span img {
    display: none;
}
.single-reason:hover span img + img {
    display: inline-block;
}
.single-reason h3 {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding-top: 45px;
    margin-bottom: 25px;
}
.single-reason h3:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background: #ff895d;
    left: 0;
    right: 0;
    top: 15px;
    margin: auto;
}
.single-reason p {
    font-family: "Work Sans", sans-serif;
    color: #708390;
}
/* 4.3: Scroll button */
.scroll-down {
    width: 100%;
    max-width: 1170px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    bottom: 15px;
    z-index: 1;
}
.scroll-down p {
    width: 125px;
    text-align: center;
    margin: auto;
    cursor: pointer;
}
.scroll-down p span {
    font-size: 8px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.main-banner-style-two .scroll-down {
    bottom: 0;
}
.main-banner-style-two .scroll-down p {
    width: 250px;
    margin: 0;
    color: #1b435d;
}
.main-banner-style-two .scroll-down p i {
    color: #ff895d;
}
.scrollBounce {
    -webkit-animation: scrollBounce 2s infinite;
    animation: scrollBounce 2s infinite;
}
@-webkit-keyframes scrollBounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
@keyframes scrollBounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}