.map {
    width: 100%;
    margin-bottom: 60px;
    border: 1px solid rgba(0,0,0,0.05);
}
.contact-info {
    font-family: "Work Sans", sans-serif;
}
.contact-info a {
    color: #90a0aa;
}
.contact-info a:hover {
    color: #1b435d;
}
.contact-info p {
    color: #90a0aa;
}
.contact-info .footer-contact-info {
    color: #90a0aa;
    border-top: 1px solid #e0f3ff;
    margin-top: 30px;
    padding-top: 15px;
}
.contact-info .footer-social-icons a {
    color: #90a0aa;
    border-color: #e2f4ff;
}
.contact-info .footer-social-icons a:hover {
    color: #fff;
    border-color: #ff895d;
    background: #ff895d;
}
/* 21.6: Comment form */
.comment-form .row {
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.comment-form .row > div {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.comment-form input[type=text],
.comment-form input[type=email],
.comment-form textarea {
    border: 1px solid #e0f3ff;
    background: #f4fbff;
    font-family: "Work sans", sans-serif;
    font-size: 14px;
    border-radius: 0;
    margin-bottom: 15px;
}
.comment-form input[type=text]:focus,
.comment-form input[type=email]:focus,
.comment-form textarea:focus {
    background: #e9f7ff;
    border: 1px solid #e0f3ff;
}
.comment-form textarea {
    padding: 15px;
    min-height: 120px;
}
.comment-form input[type=text],
.comment-form input[type=email] {
    height: 40px;
    padding: 0 15px;
}
.comment-form button {
    margin-top: 15px;
}